extends layout 

block content 
    img(src=item.image)
    h1=item.name 
    p=item.description 
    p='Price: ' + item.price
    p=item.quantity + ' in stock'
    hr
    button() Update Item 
    button() Delete Item