extends layout

mixin form(method, action)
    form(method="POST", action=action)
            input(type="text" name="categoryName")
            button(type="submit") #{method} Category

block content
    nav(class="flex")
        h1=title
        div(class="flex")
            each category in categories
                a(href=category.url)=category.category
            button(onclick="const dialog = document.getElementById('addDialog'); dialog.showModal();") Add Category
            button(onclick="const dialog = document.getElementById('updateDialog'); dialog.showModal();") Update Category

    if items && items > 0
        section(class="item-grid")
        each item in items
            div
                h2=items.name
                p=items.price 
                p=items.quantity
    else 
        p No items in this category
    dialog(id="addDialog")
        +form('Create', './create')
    dialog(id="updateDialog")
        +form('Update', urlParam + '/update')
         
